.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-inline: 1rem;
  margin-inline-end: 1.5rem;
  margin-top: 0.5rem;
}

.logo {
  width: clamp(6rem, 30vw, 20rem);
}
.primary-navigation {
  position: relative;
}
/* .primary-navigation nav {
  display: block;
}
.menu-toggle {
  display: none;
} */
@media (max-width: 600px) {
  .menu-toggle {
    margin-top: min(1.5rem, 1vh);

    display: block;
    position: absolute;
    z-index: 2000;
    right: 1.5rem;
    top: 1.5rem;
    width: 3rem;
    aspect-ratio: 1;
  }
  .primary-navigation nav {
    cursor: pointer;
    display: flex;
    position: fixed;
    padding: min(20rem, 10vh) 2rem;
    flex-direction: column;
    background-color: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(2rem);
    inset: 0 0 0 20%;
    z-index: 1000;
    transition: ease-in-out 500ms;
  }
  .primary-navigation.open nav {
    display: flex;
  }
  .primary-navigation ul li {
    padding: 1.2rem;
    display: block;
  }
  .primary-navigation ul li a {
    color: #000;
    text-decoration: none;
  }
  .primary-navigation ul {
    padding-top: 4rem;
  }
}

@media (min-width: 601px) {
  .menu-toggle {
    display: none;
  }

  .primary-navigation.open {
    display: block;
  }
}
