body {
  position: relative;
  background: linear-gradient(
    150deg,
    rgba(138, 222, 217, 0.8),
    rgba(144, 255, 141, 0.5)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-y: auto;
}

.fruits-container {
  * {
    // outline: 1px solid red;
  }
  display: flex;
  justify-content: space-between;
  position: fixed;
  inset: 0;
  z-index: -999;
  margin-top: 20vh;
  .fruit-image {
    max-width: 100%;
    height: auto;
    max-height: 100vh;
  }
  @media (max-width: 600px) {
    display: none;
  }
}
