.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h4 {
    text-align: center;
    color: #3670dc;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 5px;
  }

  .brunch,
  .add-ons {
    * {
      // outline: 1px solid blue;
    }

    .items {
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;

      li {
        font-size: 0.7rem;
        flex-basis: 1rem;
        white-space: nowrap;
      }
    }
  }
}
