h4 {
	white-space: nowrap;
}
saj-container {
	.item {
		// margin: 0;
		padding-inline: 1rem;
		// gap: 9rem;
		&.size {
			padding-inline: 0.5rem;
			font-size: 0.7rem;
			justify-content: flex-end;
		}
		@media (max-width: 600px) {
			.name-ar {
				font-size: 0.9rem;
			}
		}
	}
}
