.schedule {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 999;

	.schedule-btn {
		text-align: center;
		color: black;

		.icon {
			padding-bottom: 0.5rem;
			svg {
				border-radius: 10px;
				padding: 1rem;
				font-size: 1.3rem;
				background-color: black;
				color: white;
				text-align: center;
				aspect-ratio: 1;
			}
		}
		@media (max-width: 600px) {
			display: none;
		}
	}
	.popup {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 9999;
		background-color: #bce1a8;
		padding: 1rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		text-align: right;
		width: 70%;
		opacity: 0;
		transition: opacity 500ms ease-in;

		&.fade-in {
			opacity: 1;
		}

		.close-btn {
			margin: 1rem 1rem 0 0;
			cursor: pointer;
			font-size: 2rem;
		}
		.content {
			text-align: center;
			margin-top: 1rem;

			h2 {
				font-size: 2rem;
				font-weight: bold;
				margin-bottom: 0.5rem;
				color: #3670dc;
			}

			ul {
				list-style: none;
				padding-block: 2rem;
				li {
					padding-block: 1rem;
					font-size: 1.5rem;
					margin-bottom: 0.5rem;
				}
			}
			.name {
				font-weight: bold;
			}
		}
	}
}
